.main-container{
  display: flex;
  color: var(--text-color);
}

.list_container{
  height: 100%;
  flex-direction: column;
  width: 100%;
  display: flex;
}
.Todo_list{
  display: flex;
  height: 40%;
  justify-content: space-between;
  background-color: var(--button-back-color);
  border: none;
  border-radius: 5px;
  padding: 2%;
  align-items: center;
  margin: 1% 3%;
  position: relative;
}

.list_left{
  background-color: transparent;
  display: flex;
  width: 70%;
  justify-content: flex-start;
  align-items: center;
}

.list_done{
  border-radius: 5px;
  background-color: var(--text-color);
  width: 20px;
  height: 20px;
  border: solid;
  border-color: lightgray;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.list_name_container{
  width: 90%;
  margin-left: 3%;
  background-color: transparent;
}

.list_name{
  background-color: transparent;
  color: black;
  font-size: 20px;
}


.list_name_edit{
 background-color: transparent;
 border: none;
font-size: 20px;
}


.list_done:hover{
  
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list_right{
  background-color: transparent;
  display: flex;
  width: 30%;
  justify-content: flex-end;
}

.list_edit, .list_delete{
  border: none;
  background-color: transparent;
  color: lightcoral;
  font-size: 30px;
  font-weight: bold;
}

.list_edit{
  margin-right: 5%;
}

.list_edit, .list_delete:hover{
  cursor: pointer;
}
